body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main-navbar {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 1200px;
  height: 36px;
  left: 0;
  right: 0;
  top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0, 0, 0, 0.2)),color-stop(0.05, rgba(0, 0, 0, 0)),color-stop(0.97, rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.45))
    ),-webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.002, rgba(0, 0, 0, 0)), color-stop(0.998, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))),-webkit-gradient(linear, 0 100%, 0 0, from(#666), color-stop(0.5, #5e5e5e), color-stop(0.51, #707070), to(#808080));box-shadow: 0 5px 10px rgba(0, 0, 0, 0.342);
}

.main-navbar:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.main-navbar input {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-button {
  background: transparent;
  padding: 0px 50px;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.336);
  border-left: 1px solid rgba(221, 207, 207, 0.336);
  font-size: 15px;
  color: rgb(236, 233, 233);
  text-shadow: 0px 1px black;
}

.nav-button:hover {
  background: rgba(0, 0, 0, 0.295);
  cursor: pointer;
}

.nav-button:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar {
  margin-left: 10px;
  height: 20px;
  width: 100px;
  padding-left: 10px;
  align-self: center;
  justify-self: center;
  background: transparent;
  background-image: url("./Assets/search-icon.png");
  background-size: contain;
  background-position: 2px 1px;
  background-repeat: no-repeat;
  border: 1px solid rgba(139, 138, 138, 0.925);
  border-radius: 10px;
  color: white;
  box-shadow: inset 0px 2px 2px black;
}

.hero {
  background: url("./Assets/background-image2.jpg") no-repeat;
  background-position-y: -700px;
  height: 550px;
  text-align: center;
  color: white;
  margin-top: -10px;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
  padding-top: 140px;
}

.hero h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

footer a {
  color: #1d77ec;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.hero a {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.hero a:hover {
  text-decoration: none;
}

.iphone-display img {
  margin: -12px 0px 0px -39.9px;
}

li {
  display: inline;
}

.contact,
.footer-links,
.copyright {
  font-size: 13.5px;
}

.copyright,
.contact {
  margin-left: 80px;
}

.footer-links {
  float: right;
  margin-top: -36px;
  margin-right: 80px;
}

footer {
  color: #6e6e6e;
}
